* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif; 
    background-color: #f1ecec;  
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navbar {
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    justify-content: center;
    align-items: center;
    background: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.logo {
    flex: 20%;    
    text-align: left;
    font-family: "Lobster", sans-serif;
    color: #FF4500;
    font-size: 24px;
    margin-left: 10%;
}

.menu {
    flex: 70%;
    text-align: right;
    padding: 20px;
}

.menu a {
    color: #FF4500;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 16px;
}

.menu a:hover {
    color: white;
    border-top: 4px solid white;
}

#botao {
    background: #FF4500;
    padding: 10px 25px;
    color: white;
    border-radius: 7px;
    margin-right: 10%;
    margin-left: 5%;
}

#botao:hover {
    border: none;
    background-color: white;
    color: #FF4500;
} 


.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 10px;
    margin-top: 130px;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
}

.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.form-group button:hover {
    background-color: #218838;
}


footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.footer-section {
    flex: 1;
    margin: 10px;
    min-width: 200px;
}

.footer-section h2 {
    font-size: 20px;
    color: #FF4500;
    margin-bottom: 10px;
}

.footer-section p, .footer-section a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}

.footer-section a img {
    /* width: 30px;
    height: 30px; */
    margin: 0 10px;
}

.footer-bottom {
    background-color: #111;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

@media (max-width: 600px) {
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 2em;
    }

    p {
        font-size: 1em;
    }

    img {
        width: 100%;
        height: auto;
    }

    .footer-section {
        flex: 100%;
        margin-bottom: 20px;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
    }
} 
